<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- header -->
    {{>header}}
    <!-- main header -->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 col-12 errorimg">
              <figure>
                <img src="./img/404.png" alt="papun">
              </figure>
              <p>Welcome to AccuWeather World</p>
              <h1>{{errorMsg}}</h1>
        </div>
      </div>
    </div>
     <!-- footer -->
    {{>footer}}
  </body>
</html>